.bootstrap.auto/
.bootstrap.local/
dependencies/
.repos/
mulle-configuration/
.repos/
build/
old/
xcuserdata/
project.xcworkspace/
*~.*
.DS_Store
*.dSYM/
*.exe
tmp/.repos/gitolite.mulle-kybernetik/mulle-configuration/
