.bootstrap.auto/
.bootstrap.local/
dependencies/
.repos/
mulle-configuration/
.repos/
build/
/include/
/lib/
old/
xcuserdata/
project.xcworkspace/
*~.*
.DS_Store
*.dSYM/
*.exe
*.ir
*.exe.debug
tmp/
tmp/.repos/gitolite.mulle-kybernetik/mulle-configuration/
.repos/mulle-sprintf/mulle-configuration/
mulle-tests/
